@model SATCroftNelson.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h4>Your message: </h4>
    <p>@Model.Message</p>
    <h4>We will respond as soon as possible to @Model.Email</h4>
</div>

