.sb-sidenav-footer{
    height: 4.3125em;
}

tr {
    border-bottom: black;
}

body {
    background-color: #DDD !important;
}

footer {
    background-color: #888;
}

footer a{
    color: white;
    text-decoration: none;
}

.form-horizontal{
    background-color: rgba(170, 170, 170, .5);
    padding: 2%;
    border-radius: 1em;
}

#layoutSidenav_content {
    background-image: url('../img/MLImage.jpg');
    background-size: cover;
}

div.container {
    background-color: white;
    border-radius: 3em;
    padding: 3%;
}

h1.indexHeader {
    padding-top: 2%;
    font-size: 6em;
}

.studentStatus {
    margin-bottom: .5em;
}

#studentStatusGrid {
    justify-content: space-around;
}

.statusDescription {
    text-align: center;
}

input.btn.btn-default{
    margin-top: 2%;
}

#layoutSidenav_content{
    overflow: hidden;
}
